<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Yudjie Pet Shop{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    </head>

    <body id="{% block body_id %}{% endblock %}">

    {% block header %}
        <header>
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a href="{{ path('homepage') }}" class="navbar-brand">SHOPPING CART</a>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
                            <a href="{{ path('product_index') }}" class="navbar-brand">
                                Products
                            </a>
                            <a href="{{ path('product-category_index') }}" class="navbar-brand">
                                 Categories
                            </a>
                        {% endif %}
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">

                            {% if is_granted('ROLE_USER') %}
                                <li>
                                    <a href="">
                                        My Profile
                                    </a>
                                </li>
                            {% endif %}
                            {% if app.user %}
                                <li>
                                    <a href="{{ path('user_logout') }}">
                                        Logout
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('user_register') }}">
                                        REGISTER
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('user_login') }}">
                                        LOGIN
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}

    <div class="container body-container">
        <div class="row">
        {% if app.session.flashBag.has('success') %}
                {% for message in app.session.flashBag.get('success') %}
                    <div class="alert alert-success alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
        {% endif %}
        </div>
        {% block body %}

            <div class="row">
                <div id="main" class="col-lg-12">
                    {% block main %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>

    {% block footer %}
        <footer>
            <div class="container modal-footer">
                <p>&copy; 2016 - Software University Foundation</p>
            </div>
        </footer>
    {% endblock %}

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ asset('js/moment.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
    {% endblock %}
    </body>
</html>

