{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>

    <div class="row">
        <a class="col-md-2 col-md-offset-10 col-sm-3 col-sm-offset-9 col-xs-4 col-xs-offset-8 btn btn-success"
           href="{{ path('product_new') }}">Add new product</a>
    </div>
    <div class="row">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Image</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Order</th>
                <th>Createdon</th>
                <th>Updatedon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            {% for offer in product.saleOffers %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category.name }}</td>
                    <td><img width="50px" src="/images/products/{{ product.image }}"/></td>
                    <td>{{ offer.description }}</td>
                    <td>{{ offer.price }}</td>
                    <td>{{ offer.quantity }}</td>
                    <td>{{ offer.showOrder }}</td>
                    <td>{% if product.createdOn %}{{ product.createdOn|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if product.updatedOn %}{{ product.updatedOn|date('Y-m-d') }}{% endif %}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>
                        {% if product.isDeletable() or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('product_delete', { 'id': product.id }) }}"
                               class="btn btn-danger btn-sm" role="button">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
