{% extends 'base.html.twig' %}

{% block main %}
    <h1>Sale Offers</h1>
    <div class="row">
        {{ form_start(filterForm) }}
        {{ form_widget(filterForm) }}
        <input class="btn btn-default" type="submit" value="Filter" />
        {{ form_end(filterForm) }}
    </div>
    <div class="row">
    {% for saleOffer in saleOffers %}
        <div class="offer col-lg-3">
            <h4 class="text-center">{{ saleOffer.product.name }}</h4>
            <img class="col-lg-12" src="/images/products/{{ saleOffer.product.image }}"/>
            <h4 class="col-md-6 text-left">
                <i>
                    <span>Quantity:{{ saleOffer.quantity }}</span>
                </i>
            </h4>
            <h4 class="col-md-6 text-right">
                <i>
                    <b>
                        <span>{{ saleOffer.price }}</span>
                    </b>
                </i>
            </h4>
            <div>
                <a href="{{ path('saleoffer_show', { 'id': saleOffer.id }) }}"
                   class="col-lg-5 btn btn-primary btn-sm active" role="button">
                    view
                </a>
                <a href="#" class="col-lg-5 col-lg-offset-2 btn btn-primary btn-sm active" role="button" >
                    Add to cart
                </a>
            </div>

        </div>
    {% endfor %}
    </div>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('saleoffer_new') }}">Create a new saleOffer</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
