{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <h1 class="text-center product-name">{{ saleOffer.product.name }}</h1>

        <div class="row">
            <div class="product-image col-md-4 text-center">
                <img alt="product-image" src="/images/products/{{ saleOffer.product.image }}">
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="type-info col-md-4">
                        <p class="text-right"><strong>Product category:</strong></p>
                    </div>
                    <div class="col-md-8">
                        <p class="text-left">{{ saleOffer.product.category.name }}</p>
                    </div>
                    <div class="type-info col-md-4">
                        <p class="text-right"><strong>Description:</strong></p>
                    </div>
                    <div class="col-md-8">
                        <p class="text-left">{{ saleOffer.description }}</p>
                    </div>
                    <div class="type-info col-md-4">
                        <p class="text-right"><strong>Saler:</strong></p>
                    </div>
                    <div class="col-md-8">
                        {% if saleOffer.user %}
                        <p class="text-left">{{ saleOffer.user.fullName }}</p>
                        {% else %}
                        <p class="text-left">Yudjie Shop</p>
                        {% endif %}
                    </div>
                    <div class="type-info col-md-4">
                        <p class="text-right"><strong>Price:</strong></p>
                    </div>
                    <div class="col-md-8">
                        <p class="text-left">{{ saleOffer.price }}</p>
                    </div>
                    <div class="type-info col-md-4">
                        <p class="text-right"><strong>Available quantity:</strong></p>
                    </div>
                    <div class="col-md-8">
                        <p class="text-left">{{ saleOffer.quantity }}</p>
                    </div>
                    <div class="type-info col-md-4">
                        <p class="text-right"><strong>Added on:</strong></p>
                    </div>
                    <div class="col-md-8">
                        <p class="text-left">{% if saleOffer.createdOn %}{{ saleOffer.createdOn|date('Y-m-d') }}{% endif %}</p>
                    </div>

                    {% if app.user and app.user != saleOffer.user %}
                        {{ form_start(form) }}
                        {{ form_label(form.quantity, 'Select Quantity',
                            {'label_attr' : {'class': 'col-md-4 text-right'}}
                        ) }}
                        <div class="col-md-8">
                        {{ form_widget(form.quantity,
                            {'attr': {
                                'max': saleOffer.quantity,
                                'min': 1,
                                'value': 1
                                }
                            }
                            ) }}
                        </div>
                        <div class="col-md-8 col-md-offset-4 actions">
                            <button class="btn btn-info" type="submit" >
                                <img width="20" alt="cart" src="{{ asset('images/cart.png') }}" />
                                Add to cart
                            </button>
                            <a  class="btn btn-default" href="{{ path('saleoffer_index') }}">Back to the list</a>
                        </div>
                        {{ form_end(form) }}

                    {% else %}
                        <div class="col-md-8 col-md-offset-4 actions">
                            <a class="btn btn-danger" href="{{ path('saleoffer_edit', { 'id': saleOffer.id }) }}">Stop selling</a>
                            <a  class="btn btn-default" href="{{ path('saleoffer_index') }}">Back to the list</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">

        </div>


    </div>
{% endblock %}
