{% extends 'base.html.twig' %}

{% block main %}

    <h1>User products</h1>

    <div class="row">
        <a class="col-md-2 col-md-offset-10 col-sm-3 col-sm-offset-9 col-xs-4 col-xs-offset-8 btn btn-success"
           href="{{ path('user2product_new', {'id': user.id}) }}">Add new product to user</a>
    </div>
    <div class="row">
        <table class="table">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Image</th>
            <th>Product category</th>
            <th>Quantity</th>
            <th>Bough on</th>
            <th>Actions</th>
        </tr>
        </thead>
        {% for userProduct in userProducts %}
            <tr>
                <td>{{ userProduct.product.name }}</td>
                <td><img width="50px" src="/images/products/{{ userProduct.product.image }}"/></td>
                <td>{{ userProduct.product.category.name }}</td>
                <td>{{ userProduct.quantity }}</td>
                <td>{{ userProduct.createdOn|date('Y-m-d') }}</td>
                <td>
                    <a class=" btn btn-danger btn-sm" href="{{ path('user2product_delete', {'id': userProduct.id}) }}" >Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>

    <a class="btn btn-default" href="{{ path('user_index') }}">Back to the list</a>
{% endblock %}
